<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.discount.coupons.discountgali">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!--android:hardwareAccelerated="true"-->
    <application
        android:name="com.discount.coupons.discountgali.DiscountGaliApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.discount.coupons.discountgali.activity.HomeActivity$CampaignTrackingReceiverCustom"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.discount.coupons.discountgali.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.discount.coupons.discountgali.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.discount.coupons.discountgali.activity.OfferDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.discount.coupons.discountgali.activity.OfferOnlineStoresActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.discount.coupons.discountgali.activity.LocalDealsActivty"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.discount.coupons.discountgali.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.discount.coupons.discountgali.activity.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.discount.coupons.discountgali.activity.ContestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.discount.coupons.discountgali.activity.HelpUsImproveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.discount.coupons.discountgali.activity.SearchItemActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.discount.coupons.discountgali.activity.DealOfTheDayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.discount.coupons.discountgali.activity.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"></activity>
        <receiver android:name="com.discount.coupons.discountgali.activity.LoginActivity$SmsReceiver"
            android:exported="true">
            <intent-filter
                android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>